/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
    background-image:url('../bg.png');
}



.jumbotron
{
    text-align: left;
    background-image: url(../images/homebg.jpg);
    background-size: cover;
    background-position: bottom center;
    padding: 50px 0px 50px 0px;
    font-family: 'Cutive', sans-serif;
    color: white;
    background-image: url(../bg.png);
    margin-bottom: 0px;
}

.jumbotron p
{
    line-height: 130%;
    padding-bottom: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.row
{
    font-family: 'Cutive', sans-serif;
    text-align: center;
    color: white;
}

.row p
{
    font-family: 'Raleway', serif;
    
}

.jumbotron .container
{
}

.jumbotron .container .row 
{
    text-align: left;
}

/*affects button style*/

.btn, .btn:active {
	border-radius: 0px;
    background: none;
    border: 2px solid white;
    color: white;
}

.btn
{
    background-color: transparent;
}

.btn:hover, .btn:focus
{
    background: white;
    border-color: white;
    color:  #27C418;
}

.container .col-md-3 img
{
    margin: 0px 20px 10px 20px;
    height: 110px;
    width: 110px;
    transform-origin: center;
}

.container .col-md-3 img:hover
{
   opacity: 0.8;
}

.jumbotron .container img
{
    padding: 0px;
}

.carousel
{
  max-height: 320px;
  overflow: hidden;
    padding-top: 30px;
}

@media (max-width: 767px)
{
    .overlay
    {
        display: none;
    }
     .col-md-9, .col-md-1 img{
        display: none;
    }
    
    .carousel
    {
        max-height: 300px;
    }
    
   
    .row .col-md-3 h2
    {
        margin-top: 20px;
    }
}

.overlay {
    /*background: url('../images/frame.png') top left no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;*/
}

.bt-menu
{
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
}

.footer
{
    background-color: black;
}
