.row .col-md-3 img
{
    max-height: 300px;
    max-width: 80% ;
    margin: 0px 30px;
    
    
}

.row .col-md-3
{
    text-align: center;
    padding: 50px 0px;
}

.jumbotron
{
    background-color: white;
    padding: 100px 0px;
}

.vcenter {
      display: table-cell;
      vertical-align: middle;
}